@model VerzamelWoede.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

    

    <h4>Item</h4>
    <hr />
<div class="d-flex">
    <div class="flex-grow-1">
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Worth)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Worth)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CollectionDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CollectionDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>
    </div> 
    <div class="ms-4">
        <img src="~/Images/@Model.ImageFileName" width="300" />
    </div>
</div>


<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
    <a class="btn btn-secondary "asp-action="Index" asp-controller="Home">Back to List</a>
</div>
